  .parent {
    width: 30%;
    border-style: solid;
    border: slategray , 1px;
    margin-left: 35%;
    margin-top: 15%;
  }
  .label{
    text-align :center;
  }
  .child {
      /* Or whatever */
    margin-left: 25%;
      /* Magic! */
  }
  .btnLogin {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 10px;
      /* Magic! */
  }